html {
   font-family: sans-serif;
   height: 100%;
}

body {
   display: flex;
   margin: 0;
   flex: 1;
   height: 100%;
   flex-direction: column;
}

h1 {
   padding-top: 18px;
}

menu {
   display: flex;
   flex-direction: row !important;
   list-style: none;
}

.nav_item {
   margin: 10px;
}

header {
   display: flex;
   flex: 0 60px;
   flex-direction: row !important;   
   justify-content: space-around;
}

main table {
   display: flex;
   flex: 0.5;
   align-items: center;
   justify-content: center;
}
tr{
   /* display: flex; */
   /* flex-direction: row; */
   width: 70vw;
   justify-content: center;
}
td{
   margin: 10px;
}

main {
   flex: 1 80vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   animation: fade 1s;
}

p {
   margin: 40px;
}

@keyframes fade {
   from {
      opacity: 0;
   }
   50% {
      opacity: 0;
   }
   to {
      opacity: 1;
   }
}

form input {
   border-radius: 5px;
   margin: 3px;
}

form{
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

form button {
   display: flex;
   flex-direction: column;
   margin: 15px;
   align-items: center;
   justify-content: center;
   min-width: 161px;
}

div {
   float: inline-start !important;
}

footer {
   display: flex;
   flex: 0 50px;
   flex-direction: column;
}

.footer_container {
   display: flex;
   justify-content: space-around;
   align-items: center;
}

@media (max-height: 750px){
   header {
      display: none;
   }
   main {
      flex: 1 100 vh;
   }
   .Scoreboard {
      display: none;
   }
}

@media (max-height: 540px){
   header{display: none;}
   footer{display:none;}
   hr{display: none;}
   span{display:none;}
   h3{display:none;}
   main table{display: none;}
}

@media (max-width: 700px){
   header a{display: none;}
   footer a{display:none;}
   .Scoreboard{display:none;}
   main img {
      width:15vw;
   }
}