html {
   font-family: sans-serif;
}

body {
   display: flex;
   flex-direction: column;
}

menu {
   display: flex;
   flex-direction: row !important;
   list-style: none;
}

.nav_item {
   margin: 10px;
}

header {
   display: flex;
   flex: 0 60px;
   flex-direction: row !important;   
   justify-content: start;
}

main {
   flex: 80vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   animation: fade 1s;
}
@keyframes fade {
   from {
      opacity: 0;
   }
   to {
      opacity: 1;
   }
}
main img {display: none}

form input {
   border-radius: 5px;
   margin: 3px;
}

form {
   flex-direction: row;

}

footer {
   height: 10vh;
   display: flex;

}

@media (max-height: 600px){
   header {
      display: none;
   }
   footer a {
      display: none;
   }
   main {
      flex: 1 100 vh;
   }
   main img {
      width: 20vh;
      display: flex;
      opacity: 1;
   }
}