html {
   font-family: sans-serif;
}

body {
   display: flex;
   flex-direction: column;
}

header {
   flex: 0.1 80px;
}

main {
   flex: 1;
   display: flex;
   flex-direction: column;
   align-items: center;
}
main img {display: none}

@media (max-height: 600px){
   header {
      display: none;
   }
   footer a {
      display: none;
   }
   main {
      flex: 1 100 vh;
   }
   main img {
      width: 20vh;
      display: flex;
      opacity: 1;
   }
}