html {
   font-family: sans-serif;
   height: 100%;
}

.app {
   display: flex;
   flex: 1;
   flex-direction: column;
   height: 100%;
   margin: 0;
}

h1 {
   padding-top: 18px;
}

menu {
   display: flex;
   flex-direction: row !important;
   list-style: none;
}

.nav_item {
   margin: 10px;
}

header {
   display: flex;
   flex: 0 60px;
   flex-direction: row !important;   
   justify-content: space-around;
}

main {
   flex: 1;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   animation: fade 1s;
   height: 100%;
}

main img {display: none}

.login-box {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.logged-in-box {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

main div button {
   margin: 5px;
   align-items: center;
   justify-content: center;
}

#quote {
   justify-content: center;
   align-items: center;
   display: flex;
   flex-direction: column;
   padding: 20px;
   animation: fade-slower 2s;
   color: #aaaaaa;
}

.quote {
   font-style: italic;
}

footer {
   display: flex;
   flex: 0 50px;
   flex-direction: column;
}

.footer_container {
   display: flex;
   justify-content: space-around;
   align-items: center;
}

@media (max-height: 600px){
   header {
      display: none;
   }
   main {
      flex: 1 100 vh;
   }
   main img {
      width: 20vh;
      display: flex;
      opacity: 1;
   }
   #quote {
      display: none;
   }
}

@media (max-height: 400px){
   header{display: none;}
   footer{display:none;}
   hr{display: none;}
}

@media (max-width: 700px){
   header a{display: none;}
   footer a{display:none;}
}

@keyframes fade {
   from {
      opacity: 0;
   }
   50% {
      opacity: 0;
   }
   to {
      opacity: 1;
   }
}

@keyframes fade-slower {
   from {
      opacity: 0;
   }
   75% {
      opacity: 0;
   }
   to {
      opacity: 1;
   }
}