html {
   font-family: sans-serif;
   height: 100%;
}

body {
   display: flex;
   margin: 0;
   flex: 1;
   height: 100%;
   flex-direction: column;
}

h1 {
   padding-top: 18px;
}

menu {
   display: flex;
   flex-direction: row !important;
   list-style: none;
}

.nav_item {
   margin: 10px;
}

header {
   display: flex;
   flex: 0 60px;
   flex-direction: row !important;   
   justify-content: space-around;
}

#host-name {
   margin: 10px;
}

button {
   margin: 10px !important;
}

main {
   flex: 100;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   animation: fade 1s;
}

.t_header {
   /* width: 20vw; */
   padding: 2px;
}

span {
   font-weight: bold;
   margin: 10px;
}

@keyframes fade {
   from {
      opacity: 0;
   }
   50% {
      opacity: 0;
   }
   to {
      opacity: 1;
   }
}
main img {
   margin-top: 15px;
   max-width: 90vw;
   max-height: 75vh;
   border: 1px solid #cccccc;
   overflow: hidden;
   box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

footer {
   display: flex;
   flex: 0 50px;
   flex-direction: column;
}

.footer_container {
   display: flex;
   justify-content: space-around;
   align-items: center;
}

@media (max-height: 600px){
   header {
      display: none;
   }
   main {
      flex: 1 100 vh;
   }
}

@media (max-height: 440px){
   header{display: none;}
   footer{display:none;}
   hr{display: none;}
   .second_smallest{display:none;}
}

@media (max-width: 700px){
   header a{display: none;}
   footer a{display:none;}
}